.dogs {
    display: flex;
    background-color: darksalmon;
    
}

body {
    background-color: darksalmon;
}

.dog {
    color:darkcyan
}

.dogs_card {
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    margin-top: 40px;
    border: 1px solid aquamarine;
    padding: 20px; 
}

.dogs_card p{
    margin-bottom: 10px;
}

